.vs/
build*/
Testing/
output/
.cache
dist/
*.tsbuildinfo
**/node_modules/
**/.pnpm-store/
package-lock.json
typescript/stub/
CMakeCache.txt
CMakeFiles/
Makefile
*.cmake
!cmake/*.cmake
c-lib/libesnacc_c_lib.a
compiler/compiler.aps
